<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>

<footer>
    <p>&copy; 2024 Movie Gallery. All rights reserved.</p>
    <p>Contact us: <a href="mailto:info@moviegallery.com">info@moviegallery.com</a> | Phone: (123) 456-7890</p>
    <p>Follow us on <a href="#">Facebook</a>, <a href="#">Twitter</a>, <a href="#">Instagram</a></p>
</footer>